html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

h1 {
    font-size: 60px;
    line-height: 1.2;
    text-align: center;
}

.container {
    display: flex;
    flex: 1 1 0;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    width: 750px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;

    background-color: lightgray;
}
.column {
    height: auto;
    width: auto;
}

body > div {
    margin: 10px;
    background-color: white;
}

.square {
    height: 1em;
    width: 1em;
    background-color: white;
}

.color {
    background-color: #006fee;
}

.size-button {
    background-color: deepskyblue;
    border: none;
    border-radius: 10px;
    padding: 14px 28px;
    margin: 10px;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    align-self: center;
}