html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
}

h1,
h2,
.settings {
    text-align: center;
    color: #202124;
}

h1 {
    font-size: 3.5rem;
    margin-top: 1rem;
}

h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 2rem;
    font-family: cursive;
    font-style: italic;
}

.grid {
    display: flex;
    flex: 1 1 0;
    flex-flow: row nowrap;
    justify-content: center;
}

.square {
    background-color: #ececec;
}

button {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px 0 20px;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.size-button {
    background-color: deepskyblue;
}

.reset-button {
    background-color: #ff5555;
}

.color-button {
    
    background: linear-gradient(217deg, 
                    rgba(255, 0, 0, .8), 
                    rgba(255, 0, 0, 0) 70.71%), 
                linear-gradient(127deg, 
                    rgba(0, 255, 0, .8), 
                    rgba(0, 255, 0, 0) 70.71%), 
                linear-gradient(336deg, 
                    rgba(0, 0, 255, .8), 
                    rgba(0, 0, 255, 0) 70.71%);
}

.black-button {
    color: white;
    background-color: #202124;
}